In [3]:
#Pandas is useful for Data extraction,Data Cleaning and Data Processing
import pandas as pd

In [80]:
df = pd.read_csv(r'C:\Anil\Projects\CricketScorePredictor-master\data\ipl.csv')

In [10]:
df = pd.read_excel(r'C:\Anil\Projects\CricketScorePredictor-master\data\ipl.csv')

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,1,18/04/2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,1,0,0.1,1,0,0,0,222
1,1,18/04/2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,1,0,0.2,1,0,0,0,222
2,1,18/04/2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.2,2,0,0,0,222
3,1,18/04/2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.3,2,0,0,0,222
4,1,18/04/2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.4,2,0,0,0,222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76009,617,21/05/2017,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,121,7,19.2,40,0,40,12,129
76010,617,21/05/2017,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,127,7,19.3,46,0,46,12,129
76011,617,21/05/2017,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,128,7,19.4,47,0,47,12,129
76012,617,21/05/2017,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,MG Johnson,DT Christian,129,7,19.5,48,0,47,13,129
76013,617,21/05/2017,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,129,8,19.6,47,1,47,13,129

In [ ]:
select * from employee

# Reading file in Pandas

In [ ]:
df = pd.read_csv("file_path")
df = pd.read_excel("file_path")
df = pd.read_sql_query("select * from employee",cnx)
df = pd.read_json("file_path")


# Create the connection
name = "Anil"
print(f'my name is {name}')

POSTGRES_USERNAME = "anil"
POSTGRES_PASSWORD = "1234565"
postgres_str = (f'postgresql://{POSTGRES_USERNAME}:{POSTGRES_PASSWORD}@{POSTGRES_ADDRESS}:{POSTGRES_PORT}/{POSTGRES_DBNAME}'
cnx = create_engine(postgres_str)

df = pd.read_sql_query("SELECT * FROM my_view", con=cnx))

In [ ]:
df = read_csv()

In [ ]:
print("Anil")

In [ ]:
a = "Anil"

In [ ]:
age = 26

In [ ]:
print(a)

In [ ]:
place = "Mumbai"

# Random print functions

In [ ]:
print("The name of the employee is {} and his age is {} and his place of residence is {}".format(a,age,place))

In [ ]:
print(f"The name of the employee is {a} and his age is {age} and his place of residence is {place}")

In [ ]:
df.head(10)

# Create a Dataframe using Dictionary

In [13]:
df_temp = pd.DataFrame(
{
    "Name" : ['Anil','Vivek','shubham','Sumeet'],
    "Age" : [20,21,22,23],
    "Gender" : ["M","M","M","M"]    
}
)

In [14]:
df_temp

      Name  Age Gender
0     Anil   20      M
1    Vivek   21      M
2  shubham   22      M
3   Sumeet   23      M

In [15]:
dir(df_temp)

['Age',
 'Gender',
 'Name',
 'T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_add_numeric_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_summary_and_see_also_doc',
 '_align_frame',
 '_align_series',
 '_arith_method',
 '_as_manager',
 '_attrs',
 '_box_col_values',
 '_can_fast_transpose',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_combine_frame',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_from_arguments',
 '_construct_result',
 '_constructor',
 '_constructor_sliced',
 '_convert',
 '_count_level',
 '_data',
 '_dir_additions',
 '_dir_deletions',
 '_dispatch_frame_op',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_valid_index',
 '_find_valid_index',
 '_flags',
 '_from_arrays',
 '_from_mgr',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cleaned_column_resolvers',
 '_get_column_array',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_getitem_bool_array',
 '_getitem_multilevel',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_copy',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_iset_item',
 '_iset_item_mgr',
 '_iset_not_inplace',
 '_item_cache',
 '_iter_column_arrays',
 '_ixs',
 '_join_compat',
 '_logical_func',
 '_logical_method',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_needs_reindex_multi',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_replace_columnwise',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_series',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_item',
 '_set_item_frame_value',
 '_set_item_mgr',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_stat_function',
 '_stat_function_ddof',
 '_take_with_is_copy',
 '_to_dict_of_blocks',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'attrs',
 'axes',
 'backfill',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'clip',
 'columns',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'explode',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'from_dict',
 'from_records',
 'ge',
 'get',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'isin',
 'isna',
 'isnull',
 'items',
 'iteritems',
 'iterrows',
 'itertuples',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_flags',
 'set_index',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_markdown',
 'to_numpy',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'to_xml',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'where',
 'xs']

In [17]:
df.head(10)

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,1,18/04/2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,1,0,0.1,1,0,0,0,222
1,1,18/04/2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,1,0,0.2,1,0,0,0,222
2,1,18/04/2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.2,2,0,0,0,222
3,1,18/04/2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.3,2,0,0,0,222
4,1,18/04/2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.4,2,0,0,0,222
5,1,18/04/2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.5,2,0,0,0,222
6,1,18/04/2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,3,0,0.6,3,0,0,0,222
7,1,18/04/2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,Z Khan,3,0,1.1,3,0,0,0,222
8,1,18/04/2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,Z Khan,7,0,1.2,7,0,4,0,222
9,1,18/04/2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,Z Khan,11,0,1.3,11,0,8,0,222

In [19]:
df.tail(10)

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
76004,617,21/05/2017,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,JD Unadkat,114,7,18.5,36,1,35,12,129
76005,617,21/05/2017,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,JD Unadkat,115,7,18.6,36,1,36,12,129
76006,617,21/05/2017,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,116,7,19.0,37,0,36,12,129
76007,617,21/05/2017,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,116,7,19.1,37,0,36,12,129
76008,617,21/05/2017,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,120,7,19.2,40,0,40,12,129
76009,617,21/05/2017,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,121,7,19.2,40,0,40,12,129
76010,617,21/05/2017,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,127,7,19.3,46,0,46,12,129
76011,617,21/05/2017,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,128,7,19.4,47,0,47,12,129
76012,617,21/05/2017,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,MG Johnson,DT Christian,129,7,19.5,48,0,47,13,129
76013,617,21/05/2017,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,129,8,19.6,47,1,47,13,129

In [21]:
df.shape

(76014, 15)

In [31]:
df2 = df[['mid','date','venue','bat_team']]

In [32]:
df2

,mid,date,venue,bat_team
0,1,18/04/2008,M Chinnaswamy Stadium,Kolkata Knight Riders
1,1,18/04/2008,M Chinnaswamy Stadium,Kolkata Knight Riders
2,1,18/04/2008,M Chinnaswamy Stadium,Kolkata Knight Riders
3,1,18/04/2008,M Chinnaswamy Stadium,Kolkata Knight Riders
4,1,18/04/2008,M Chinnaswamy Stadium,Kolkata Knight Riders
...,...,...,...,...
76009,617,21/05/2017,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians
76010,617,21/05/2017,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians
76011,617,21/05/2017,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians
76012,617,21/05/2017,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians
76013,617,21/05/2017,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians

In [58]:
df2 = df[1000:1200].reset_index(drop = True)

In [59]:
df2

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,9,24/04/2008,"Rajiv Gandhi International Stadium, Uppal",Deccan Chargers,Rajasthan Royals,A Symonds,SR Watson,33,2,3.1,33,2,9,1,214
1,9,24/04/2008,"Rajiv Gandhi International Stadium, Uppal",Deccan Chargers,Rajasthan Royals,VVS Laxman,SR Watson,33,2,3.2,33,2,9,1,214
2,9,24/04/2008,"Rajiv Gandhi International Stadium, Uppal",Deccan Chargers,Rajasthan Royals,VVS Laxman,SR Watson,33,2,3.3,33,2,9,1,214
3,9,24/04/2008,"Rajiv Gandhi International Stadium, Uppal",Deccan Chargers,Rajasthan Royals,VVS Laxman,SR Watson,33,2,3.4,33,2,9,1,214
4,9,24/04/2008,"Rajiv Gandhi International Stadium, Uppal",Deccan Chargers,Rajasthan Royals,VVS Laxman,SR Watson,33,2,3.5,33,2,9,1,214
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,10,25/04/2008,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Mumbai Indians,KC Sangakkara,MA Khote,127,4,14.2,38,2,73,2,182
196,10,25/04/2008,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Mumbai Indians,KC Sangakkara,MA Khote,127,4,14.3,36,2,73,2,182
197,10,25/04/2008,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Mumbai Indians,KC Sangakkara,MA Khote,131,4,14.4,40,2,77,2,182
198,10,25/04/2008,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Mumbai Indians,KC Sangakkara,MA Khote,132,4,14.5,40,2,78,2,182
199,10,25/04/2008,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Mumbai Indians,DPMD Jayawardene,MA Khote,138,4,14.6,44,2,78,8,182

In [ ]:
df2[['mid','date','venue']]

In [ ]:
type(a)

In [ ]:
b = df2[['mid']]

In [ ]:
b

In [ ]:
df.shape

In [ ]:
df.columns

In [61]:
type(df['mid']) #This is a series

pandas.core.series.Series

In [ ]:
df[['mid','venue','bat_team']]

In [ ]:
df.mid

In [64]:
df['total'].describe()

count    76014.000000
mean       160.901452
std         29.246231
min         67.000000
25%        142.000000
50%        162.000000
75%        181.000000
max        263.000000
Name: total, dtype: float64

As e can see that the mean and median are very close with each other. So we can conclude that there is little to none outlier in system

In [ ]:
df['total'].describe()

In [76]:
df.total.max()

263

In [86]:
df[['venue','batsman','total']][df['total'] == df.total.max()]

                       venue     batsman  total
42229  M Chinnaswamy Stadium    CH Gayle    263
42230  M Chinnaswamy Stadium    CH Gayle    263
42231  M Chinnaswamy Stadium    CH Gayle    263
42232  M Chinnaswamy Stadium  TM Dilshan    263
42233  M Chinnaswamy Stadium  TM Dilshan    263
...                      ...         ...    ...
42352  M Chinnaswamy Stadium    CH Gayle    263
42353  M Chinnaswamy Stadium   SS Tiwary    263
42354  M Chinnaswamy Stadium   SS Tiwary    263
42355  M Chinnaswamy Stadium    CH Gayle    263
42356  M Chinnaswamy Stadium   R Rampaul    263

[128 rows x 3 columns]

In [79]:
df['total']

0        263
1        263
2        263
3        263
4        263
        ...
76009    263
76010    263
76011    263
76012    263
76013    263
Name: total, Length: 76014, dtype: int64

In [67]:
df[df['total'] == df.total.max()]

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
42229,343,23/04/2013,M Chinnaswamy Stadium,Royal Challengers Bangalore,Pune Warriors,CH Gayle,B Kumar,0,0,0.1,0,0,0,0,263
42230,343,23/04/2013,M Chinnaswamy Stadium,Royal Challengers Bangalore,Pune Warriors,CH Gayle,B Kumar,0,0,0.2,0,0,0,0,263
42231,343,23/04/2013,M Chinnaswamy Stadium,Royal Challengers Bangalore,Pune Warriors,CH Gayle,B Kumar,1,0,0.3,1,0,1,0,263
42232,343,23/04/2013,M Chinnaswamy Stadium,Royal Challengers Bangalore,Pune Warriors,TM Dilshan,B Kumar,3,0,0.4,3,0,2,1,263
42233,343,23/04/2013,M Chinnaswamy Stadium,Royal Challengers Bangalore,Pune Warriors,TM Dilshan,B Kumar,3,0,0.5,3,0,2,1,263
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42352,343,23/04/2013,M Chinnaswamy Stadium,Royal Challengers Bangalore,Pune Warriors,CH Gayle,AB Dinda,260,3,19.2,74,2,174,0,263
42353,343,23/04/2013,M Chinnaswamy Stadium,Royal Challengers Bangalore,Pune Warriors,SS Tiwary,AB Dinda,262,3,19.3,72,2,174,2,263
42354,343,23/04/2013,M Chinnaswamy Stadium,Royal Challengers Bangalore,Pune Warriors,SS Tiwary,AB Dinda,262,4,19.4,66,3,174,2,263
42355,343,23/04/2013,M Chinnaswamy Stadium,Royal Challengers Bangalore,Pune Warriors,CH Gayle,AB Dinda,263,4,19.5,66,3,175,0,263
42356,343,23/04/2013,M Chinnaswamy Stadium,Royal Challengers Bangalore,Pune Warriors,R Rampaul,AB Dinda,263,5,19.6,65,4,175,0,263

In [89]:
df[df['total'] > 150]

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,1,18/04/2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,1,0,0.1,1,0,0,0,222
1,1,18/04/2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,1,0,0.2,1,0,0,0,222
2,1,18/04/2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.2,2,0,0,0,222
3,1,18/04/2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.3,2,0,0,0,222
4,1,18/04/2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.4,2,0,0,0,222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75768,615,16/05/2017,Wankhede Stadium,Rising Pune Supergiant,Mumbai Indians,MS Dhoni,JJ Bumrah,154,3,19.2,50,0,58,32,162
75769,615,16/05/2017,Wankhede Stadium,Rising Pune Supergiant,Mumbai Indians,MS Dhoni,JJ Bumrah,156,3,19.3,51,0,58,34,162
75770,615,16/05/2017,Wankhede Stadium,Rising Pune Supergiant,Mumbai Indians,MS Dhoni,JJ Bumrah,162,3,19.4,57,0,58,40,162
75771,615,16/05/2017,Wankhede Stadium,Rising Pune Supergiant,Mumbai Indians,MS Dhoni,JJ Bumrah,162,3,19.5,56,0,58,40,162
75772,615,16/05/2017,Wankhede Stadium,Rising Pune Supergiant,Mumbai Indians,MS Dhoni,JJ Bumrah,162,4,19.6,56,1,58,40,162

In [ ]:
df[df.total == df.total.max()]

In [ ]:
"CH Gayle"
batman,venue,total. Toatal > 200 and batsman is "CH Gayle"

In [116]:
df['batsman'].unique()

array(['SC Ganguly', 'BB McCullum', 'RT Ponting', 'DJ Hussey',
       'Mohammad Hafeez', 'PA Patel', 'ML Hayden', 'MEK Hussey',
       'MS Dhoni', 'SK Raina', 'JDP Oram', 'S Badrinath', 'T Kohli',
       'YK Pathan', 'SR Watson', 'M Kaif', 'DS Lehmann', 'RA Jadeja',
       'M Rawat', 'D Salunkhe', 'SK Warne', 'SK Trivedi', 'L Ronchi',
       'ST Jayasuriya', 'DJ Thornely', 'RV Uthappa', 'PR Shah',
       'AM Nayar', 'SM Pollock', 'Harbhajan Singh', 'AC Gilchrist',
       'Y Venugopal Rao', 'VVS Laxman', 'A Symonds', 'RG Sharma',
       'SB Styris', 'AS Yadav', 'SB Bangar', 'WPUJC Vaas', 'RP Singh',
       'K Goel', 'JR Hopes', 'KC Sangakkara', 'DPMD Jayawardene',
       'Yuvraj Singh', 'IK Pathan', 'S Sohal', 'B Lee', 'PP Chawla',
       'WA Mota', 'Shahid Afridi', 'RR Sarwan', 'S Sreesanth',
       'VRV Singh', 'S Chanderpaul', 'R Dravid', 'LRPL Taylor',
       'JH Kallis', 'V Kohli', 'MV Boucher', 'P Kumar', 'SB Joshi',
       'Z Khan', 'R Vinay Kumar', 'WP Saha', 'LR Shukla', 'AB Agarkar',
       'M Kartik', 'I Sharma', 'AM Rahane', 'DJ Bravo', 'MA Khote',
       'G Gambhir', 'V Sehwag', 'S Dhawan', 'Shoaib Malik', 'MK Tiwary',
       'KD Karthik', 'R Bhatia', 'MF Maharoof', 'VY Mahesh', 'DB Das',
       'HH Gibbs', 'DNT Zoysa', 'D Kalyankrishna', 'GC Smith',
       'SA Asnodkar', 'Sohail Tanvir', 'SP Fleming', 'S Vidyut',
       'JA Morkel', 'LPC Silva', 'DB Ravi Teja', 'SE Marsh',
       'YV Takawale', 'SS Tiwary', 'RR Raje', 'Joginder Sharma',
       'MS Gony', 'M Muralitharan', 'M Ntini', 'W Jaffer', 'CL White',
       'Misbah-ul-Haq', 'DT Patil', 'A Kumble', 'DW Steyn', 'S Anirudha',
       'MM Patel', 'AB de Villiers', 'A Chopra', 'BJ Hodge', 'T Taibu',
       'Umar Gul', 'PP Ojha', 'SP Goswami', 'B Akhil', 'Salman Butt',
       'TM Dilshan', 'A Mishra', 'J Arunkumar', 'Iqbal Abdulla',
       'CK Kapugedera', 'LA Pomersbach', 'Shoaib Akhtar', 'AB Dinda',
       'SR Tendulkar', 'B Chipli', 'DR Smith', 'SD Chitnis',
       'Kamran Akmal', 'TM Srivastava', 'MK Pandey', 'RR Powar',
       'JP Duminy', 'JD Ryder', 'KP Pietersen', 'CH Gayle',
       'MC Henriques', 'A Flintoff', 'FH Edwards', 'PC Valthaty',
       'RJ Quiney', 'AD Mascarenhas', 'AS Raut', 'Pankaj Singh',
       'RS Bopara', 'DL Vettori', 'M Manhas', 'PJ Sangwan', 'MN van Wyk',
       'AA Bilakhia', 'TL Suman', 'Shoaib Ahmed', 'GR Napier',
       'R Bishnoi', 'RE van der Merwe', 'KP Appanna', 'M Vijay',
       'SB Jakati', 'L Balaji', 'NV Ojha', 'LA Carseldine', 'RJ Harris',
       'D du Preez', 'DS Kulkarni', 'SM Harwood', 'Yashpal Singh',
       'AN Ghosh', 'AD Mathews', 'SM Katich', 'DA Warner', 'J Botha',
       'A Nehra', 'Mashrafe Mortaza', 'GJ Bailey', 'AB McDonald',
       'Y Nagar', 'Niraj Patel', 'T Henderson', 'A Singh', 'R Ashwin',
       'T Thushara', 'Mohammad Ashraful', 'CA Pujara', 'OA Shah',
       'AP Tare', 'AT Rayudu', 'R Sathish', 'R McLaren', 'MS Bisla',
       'YA Abdulla', 'EJG Morgan', 'AA Jhunjhunwala', 'P Dogra',
       'A Uniyal', 'KA Pollard', 'MJ Lumb', 'DR Martyn', 'S Narwal',
       'M Morkel', 'Anirudh Singh', 'Jaskaran Singh', 'FY Fazal',
       'AC Voges', 'MD Mishra', 'J Theron', 'R Sharma', 'Mandeep Singh',
       'KM Jadhav', 'SW Tait', 'PD Collingwood', 'VS Malik',
       'SJ Srivastava', 'AP Dole', 'Bipul Sharma', 'DE Bollinger',
       'BAW Mendis', 'B Sumanth', 'C Madan', 'AG Paunikar', 'AJ Finch',
       'MR Marsh', 'STR Binny', 'IR Jaggi', 'DT Christian', 'RV Gomez',
       'UBT Chand', 'UT Yadav', 'Sunny Singh', 'NJ Rimmington',
       'MA Agarwal', 'AUK Pathan', 'AL Menaria', 'DJ Jacobs',
       'WD Parnell', 'TD Paine', 'SB Wagh', 'AC Thomas', 'BJ Haddin',
       'NLTC Perera', 'MS Wade', 'JE Taylor', 'RN ten Doeschate',
       'SL Malinga', 'AG Murtaza', 'TR Birt', 'Harpreet Singh',
       'NL McCullum', 'DH Yagnik', 'AC Blizzard', 'M Klinger',
       'I Malhotra', 'A Mithun', 'P Parameswaran', 'AA Chavan',
       'ND Doshi', 'CJ Ferguson', 'B Kumar', 'S Rana', 'JEC Franklin',
       'Shakib Al Hasan', 'F du Plessis', 'SPD Smith', 'MN Samuels',
       'KK Cooper', 'HV Patel', 'Ankit Sharma', 'RE Levi', 'RR Bhatkal',
       'Harmeet Singh', 'BA Bhatt', 'CJ McKay', 'DJ Harris', 'N Saini',
       'DA Miller', 'Azhar Mahmood', 'A Ashish Reddy', 'V Pratap Singh',
       'BB Samantray', 'RJ Peterson', 'S Nadeem', 'VR Aaron', 'MJ Clarke',
       'AP Majumdar', 'Gurkeerat Singh', 'P Awana', 'SP Narine',
       'A Chandila', 'PA Reddy', 'MC Juneja', 'AD Russell', 'KK Nair',
       'KB Arun Karthik', 'GH Vihari', 'MDKJ Perera', 'R Shukla',
       'JD Unadkat', 'M Vohra', 'JP Faulkner', 'R Rampaul', 'BJ Rohrer',
       'Q de Kock', 'KV Sharma', 'SMSM Senanayake', 'LJ Wright',
       'X Thalaivan Sargunam', 'DJG Sammy', 'MG Johnson', 'A Mukund',
       'SV Samson', 'BMAJ Mendis', 'KL Rahul', 'CM Gautam',
       'KW Richardson', 'Parvez Rasool', 'GJ Maxwell', 'R Dhawan',
       'SA Yadav', 'CJ Anderson', 'JJ Bumrah', 'CA Lynn', 'MA Starc',
       'AR Patel', 'Sandeep Sharma', 'BR Dunk', 'Shivam Sharma',
       'LMP Simmons', 'VH Zol', 'BCJ Cutting', 'Mohammed Shami',
       'BE Hendricks', 'S Gopal', 'M de Lange', 'RR Rossouw', 'JO Holder',
       'JDS Neesham', 'Imran Tahir', 'MM Sharma', 'DJ Hooda', 'CH Morris',
       'SS Iyer', 'SA Abbott', 'AN Ahmed', 'YS Chahal', 'J Suchith',
       'P Negi', 'RG More', 'Anureet Singh', 'HH Pandya',
       'NM Coulter-Nile', 'PV Tambe', 'MJ McClenaghan', 'DJ Muthuswami',
       'SN Thakur', 'SN Khan', 'D Wiese', 'S Aravind', 'JC Buttler',
       'CR Brathwaite', 'MP Stoinis', 'C Munro', 'P Sahu', 'KH Pandya',
       'TG Southee', 'MJ Guptill', 'KJ Abbott', 'TM Head', 'AD Nath',
       'NS Naik', 'Ishan Kishan', 'SW Billings', 'RR Pant',
       'KS Williamson', 'KC Cariappa', 'PSP Handscomb', 'Sachin Baby',
       'J Yadav', 'UT Khawaja', 'HM Amla', 'BB Sran', 'N Rana',
       'F Behardien', 'ER Dwivedi', 'JJ Roy', 'BA Stokes', 'Vishnu Vinod',
       'TS Mills', 'Basil Thampi', 'CR Woakes', 'V Shankar',
       'Rashid Khan', 'RA Tripathi', 'RD Chahar', 'LH Ferguson',
       'C de Grandhomme', 'PJ Cummins', 'Mohammad Nabi', 'Kuldeep Yadav',
       'Washington Sundar', 'S Badree', 'A Choudhary', 'AR Bawne',
       'AJ Tye', 'Ankit Soni', 'K Rabada', 'AF Milne', 'SP Jackson',
       'Swapnil Singh', 'R Tewatia', 'AS Rajpoot'], dtype=object)

In [ ]:
df[df.total == df.total.min()]

In [ ]:
df[df.total == df.total.min()]

In [115]:
df[['batsman','bat_team']][(df['batsman'] == "CH Gayle") & (df['total'] > 200)]

        batsman                     bat_team
26474  CH Gayle  Royal Challengers Bangalore
26475  CH Gayle  Royal Challengers Bangalore
26476  CH Gayle  Royal Challengers Bangalore
26477  CH Gayle  Royal Challengers Bangalore
26480  CH Gayle  Royal Challengers Bangalore
...         ...                          ...
71307  CH Gayle  Royal Challengers Bangalore
71308  CH Gayle  Royal Challengers Bangalore
71310  CH Gayle  Royal Challengers Bangalore
71311  CH Gayle  Royal Challengers Bangalore
71312  CH Gayle  Royal Challengers Bangalore

[354 rows x 2 columns]

In [106]:
df[['batsman','venue']][(df.runs == 2) & (df.batsman == "CH Gayle")]

        batsman                               venue
7119   CH Gayle                            Newlands
7120   CH Gayle                            Newlands
7121   CH Gayle                            Newlands
7122   CH Gayle                            Newlands
7129   CH Gayle                            Newlands
8601   CH Gayle                           Kingsmead
18842  CH Gayle               M Chinnaswamy Stadium
19470  CH Gayle     MA Chidambaram Stadium, Chepauk
24993  CH Gayle               M Chinnaswamy Stadium
24994  CH Gayle               M Chinnaswamy Stadium
29311  CH Gayle     MA Chidambaram Stadium, Chepauk
38788  CH Gayle               M Chinnaswamy Stadium
45954  CH Gayle  JSCA International Stadium Complex
52400  CH Gayle               M Chinnaswamy Stadium
65404  CH Gayle               M Chinnaswamy Stadium
65405  CH Gayle               M Chinnaswamy Stadium
67139  CH Gayle               M Chinnaswamy Stadium

In [ ]:
df['venue'][2000:2300]

In [ ]:
1   Anil 100
2   Anil 100 
3   Anil 200
4   a     ff
5    b   jir
6    c    ror 
7    d   jfuj
8    e   kfi
9   f   ifr
10  g   rir

In [ ]:
df2 = df[['mid','date','bat_team']]

In [ ]:
df2.to_csv(r'C:\Anil\Projects\DS Training\temp.csv')

In [ ]:
df2

In [ ]:
#group by

In [ ]:
df.head()

In [ ]:
df2 = df.groupby('venue')

In [ ]:
df[df.venue=="Dr DY Patil Sports Academy"]

In [ ]:
for i,j in df2:
    print(i)
    print(j)
    df2.get_group(i)

In [ ]:
dypatil= df2.get_group('Dr DY Patil Sports Academy')

In [ ]:
df_yuvraj = df[df.batsman == 'Yuvraj Singh'].reset_index()

In [ ]:
df_yuvraj

In [ ]:
df_yuvraj.columns

In [ ]:
df_yuvraj.shape

In [ ]:
df['batsman'].unique()

In [ ]:
df_ganguly = df[df['batsman'] == "SC Ganguly"]

In [ ]:
df_yuv_gan = pd.concat([df_yuvraj,df_ganguly],axis=1)

In [ ]:
df_yuv_gan

In [ ]:
df_yuv_gan.to_csv("C:\Anil\Projects\DS Training\player.csv")

In [ ]:
df_yuv_gan

df_yuv_gan

In [ ]:
df = pd.DataFrame([10,20,30],index=[3,1,2])

In [ ]:
df

In [ ]:
df[0:1]

In [ ]:
df.loc[3]   #this works on index

In [ ]:
df.iloc[0]   #This works on row Number

In [ ]:
#List Assignment
#https://www.codesdope.com/practice/python-make-a-list/

In [ ]:
#Task
df1.append(df2) # Add the rows in df1 to the end of df2 (columns should be identical)
pd.concat([df1, df2],axis=1) # Add the columns in df1 to the end of df2 where rows are identical
df1.join(df2 ,on=col1, how='inner') # SQL-style join the columns in df1 with the columns on df2 where the rows for col have identical values.
                'how' can be : 'left', 'right', 'outer', 'inner'